body, html {
    height: 100%;
    margin: 0;
    position: relative;

  }
  
header{
  background-color:  rgb(241,79,31);
  width: 100%;
  margin: 0;
  padding:60px;
 

}
main, footer {
  padding: 60px;
  background-color: #DEAB23;
  width: 100%;
}
  
  h1 {
  
    text-align: center;
    padding: 30px;
    font-size:50px; 
    color: white;
    font-family: 'Limelight', cursive;
 
  }
  header h3 {
    text-align: center; 
    color: white;
    font-family: 'Limelight', cursive;
  }

  p{
      font-weight: bold;
      color: rgb(44,67,48);
  }
  main h3,h2{
    color: rgb(241,79,31);
    background-color: white;
        width: 100px;
        padding: 10px;
        padding: 15px;
        display: block;
        
  }
  li{
    font-weight: bold;
    color: rgb(44,67,48);
    background-color: white;
    width: 100px;
    border: 15px solid rgb(241,79,31) ;
    padding: 15px;
    font-family: 'Acme', sans-serif;
    display: inline-block;
    text-align: center;
      }
     .welcoming{
       display: inline;
       
     }
     #text{
       width: 50%;
       padding-left: 10px;
     }

     #img{
       position: relative;
       float: left;
       width: 50%;
       padding-right: 10px;
     }

     footer{
       clear: both;
     }
     #footer{
      text-decoration: none;
      color: rgb(44,67,48);
     }