body, html {
    height: 100%;
    margin: 0;
    position: relative;
    background-color: #DEAB23;

  }
  
header{
  background-color:  rgb(241,79,31);
  width: 100%;
  margin: 0;
  padding:60px;
 

}
main, footer {
  padding: 60px;

  width: 100%;
}
  
  h1 {
  
    text-align: center;
    padding: 30px;
    font-size:5em; 
    color: white;
    font-family: 'Limelight', cursive;
 
  }
  #storesDec {
    text-align: center; 
    color: rgb(241,79,31);
    font-family: 'Acme', sans-serif;
    font-size: 4em;
  }

  p{
      font-weight: bold;
      color: rgb(44,67,48);
      font-family: 'Acme', sans-serif;
      font-size: 3em;
  }
  main h2{
    color: rgb(241,79,31);
  
        width: 100px;
        padding: 10px;
        padding: 15px;
        display: block;
        
  }
 .list{
    font-weight: bold;
    color: rgb(44,67,48);
    background-color: white;
    width: 100px;
    border: 15px solid rgb(241,79,31) ;
    padding: 15px;
    font-family: 'Acme', sans-serif;
    display: inline-block;
    text-align: center;
    margin-left: 6em;
    margin-bottom: 2em;
    margin-top: 2em;
      }
     .welcoming{
       display: inline;

     }

     /* #text{
       width: 50%;
      
     } */

     #imgage{
      
       float: left;
       width: 50%;
       
     }

     footer{
       clear: both;
       
     }
     .footer{
      text-decoration: none;
      color: rgb(44,67,48);
     margin-left: 60em;
     font-family: 'Acme', sans-serif;
      font-size: 15px;
      margin-top: -5em;
    
     }
     #advertizing{
      font-size: 2em;
      margin-top: -9em;
      margin-left: 28em;
      width: 50%;
    
     }